# Python cache
__pycache__/
*.pyc

# VSCode settings 
.vscode/

# System files
.DS_Store

# checkpoints, logs, recordings
Code/outputs/checkpoints/
Code/outputs/logs/
Code/outputs/plots/
Code/outputs/recordings/

